MVC_CRUD_LIST/Content/* linguist-vendored
MVC_CRUD_LIST/Scripts/* linguist-vendored

MVC_CRUD_LIST/Models/* linguist-language=ASP
MVC_CRUD_LIST/Views/* linguist-language=ASP
MVC_CRUD_LIST/Controllers/* linguist-language=ASP

/.gitattributes export-ignore
/.gitignore export-ignore
/LICENSE export-ignore
/README.md export-ignore
